/* ----- Fonts : Barlow Condensed, Rubik ----- */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800&display=swap"); /* Swatches */
:root {
  --primary: #309de0;
  --secondary: #58baf3;
  --hover: #228acb;
  --white: #f8f8f8;
  --dark: #0b0f11;
  --light-color: #f6f6f6;
  --light-gray: #f9f9f9;
  --text-color: #393939;
  --title-color: #292950;
  --title-dark: #28283c;
  --background-light: #eaeaea;

  --primary-font: "Barlow Condensed", sans-serif;
  --secondary-font: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #6e6262;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

a:hover {
  color: var(--hover);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: var(--white);
  line-height: 0;
}

.back-to-top:hover {
  background: var(--primary);
  color: var(--white);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  margin: 0;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #384046;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #384046;
  text-decoration: none;
}

#header .logo img {
  max-height: 50px;
}

#header .btn-nav {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 1.02px;
  display: inline-block;
  padding: 10px 22px;
  border-radius: 4px;
  text-align: center;
  margin-left: 60px;
  transition: 0.3s;
  color: var(--white);
  background: linear-gradient(
    to right,
    var(--secondary),
    var(--primary),
    var(--hover)
  );
  text-transform: uppercase;
}

#header .btn-nav:hover {
  transform: scale(1.02);
  background-color: var(--hover);
}

@media (max-width: 992px) {
  #header {
    height: 80px;
  }
  #header .btn-nav {
    font-size: 18px;
    padding: 8px 18px;
    margin-left: 40px;
  }
  #header .btn-nav svg {
    height: 28px;
  }
}

@media (max-width: 768px) {
  #header {
    height: 70px;
  }
  #header .logo img {
    max-height: 45px;
  }
  #header .btn-nav {
    font-size: 17px;
    padding: 7px 18px;
    margin-right: 24px;
  }
  #header .btn-nav svg {
    height: 24px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 21px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a:last-child {
  margin-right: 0;
}

.navbar a:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 10px);
  background: var(--hover);
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
  transition: ease-in-out 0.3s;
  opacity: 0;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--white);
  background: var(--hover);
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
  opacity: 1;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #384046;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  #header .btn-nav {
    padding: 6px 10px;
    margin-right: 28px;
  }

  #header .btn-nav span {
    display: none;
  }
  #header .btn-nav svg {
    height: 28px;
  }

  .navbar ul {
    display: none;
  }
}

@media (max-width: 992px) {

  .navbar a {
    padding: 10px 14px;
    font-size: 13px;
    letter-spacing: 0.5px;
  }

  .navbar a:before {
    top: -3px;
    left: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 6px);
  }
}

@media (max-width: 768px) {
  .navbar ul{
    padding: 10px 0px;
    border-radius: 10px;
    width: 40vw;
    right: 0;
    transform: translateX(150%);
    transition: all 0.3s;
  }
  .navbar a {
    font-size: 12px;
    top: 20px;
    letter-spacing: 0.3px;
  }

  .navbar a:before {
  width: 100%;
  height: 100%;
} 

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    left: 30px;
    width: 80%;
    color: var(--white);
    background: var(--hover);
    clip-path: polygon(3% 0, 100% 0, 96% 100%, 0% 100%);
    opacity: 1;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(33, 38, 42, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
 
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 12px 40px;
  font-size: 15px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 70vh;
  padding: 0;
  margin-top: 70px;
  background: url("../images/bg/hero-bg.png") center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

#hero .hero-container {
  z-index: 1;
}

#hero:before {
  content: "";
  background: rgba(32, 34, 36, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .carousel-item {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center center;
}

#hero .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .carousel-content {
  text-align: center;
  text-transform: uppercase;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
  color: #545454;
  transition: 0.3s;
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
  color: var(--light-gray);
}

#hero .carousel-indicators li {
  cursor: pointer;
  background: var(--light-color);
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-bottom: 30px;
  opacity: 0.2;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  width: 18px;
  height: 18px;
  margin-top: -3px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 7rem;
  font-weight: 800;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: var(--white);
  text-transform: none;
  letter-spacing: 1.5px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  width: 70%;
  line-height: 30px;
  animation-delay: 0.4s;
  margin: 40px auto 48px auto;
}

#hero .btn-hero {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 4px;
  transition: ease-in-out 0.3s;
  color: #fff;
  background: var(--secondary);
  text-transform: uppercase;
}

#hero .btn-hero:hover {
  background: var(--hover);
}

@media (max-width: 992px) {
  #hero {
    height: calc(100vh - 80px);
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 5rem;
    line-height: 36px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 80px 0;
}

.section-bg {
  background-color: #f7fbfe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title h2 {
  font-size: 60px;
  color: var(--title-dark);
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
}

.section-title p {
  width: 70%;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  color: var(--text-gray);
}

/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/
.featured-services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: var(--light-gray);
  text-align: center;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  /* box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12); */
}

.featured-services .icon-box::before {
  content: "";
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.featured-services .icon-box:hover::before {
  background: var(--secondary);
  top: 0;
  border-radius: 0px;
}

.featured-services .icon {
  margin-bottom: 15px;
}

.featured-services .icon img {
  height: 120px;
  width: 120px;
  color: var(--title-color);
}

.featured-services .title {
  font-weight: 800;
  margin-bottom: 12px;
  letter-spacing: 1.02px;
  font-size: 40px;
  color: var(--title-color);
  text-transform: uppercase;
}

.featured-services .description {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
  color: var(--text-color);
  font-family: "poppins", sans-serif;
}

.featured-services .icon-box:hover .title a,
.featured-services .icon-box:hover .description {
  color: #fff;
}

.featured-services .icon-box:hover .icon i {
  color: #fff;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about {
  background: url(../images/bg/bg-texture.jpg) no-repeat center center;
  background-size: cover;
}

.about h2 {
  font-weight: 800;
  font-size: 60px;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 0;
}

.about h1 {
  margin-top: -18px;
  font-weight: 800;
  font-size: 90px;
  text-transform: uppercase;
  color: var(--secondary);
}

.about p {
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.about .about-btn {
  font-size: 22px;
  font-weight: 500;
  color: var(--white);
  background: var(--secondary);
  font-family: var(--primary-font);
  border: 0;
  padding: 10px 30px;
  border-radius: 4px;
  transition: 0.5s;
  display: inline-block;
  text-transform: uppercase;
}

.about .about-btn:hover {
  background: var(--primary);
  color: var(--white);
}

.about img {
  border-radius: 8px;
}

/*--------------------------------------------------------------
# categories
--------------------------------------------------------------*/
.categories .categories-slider {
  overflow: hidden;
}

.categories .category-item {
  background-image: url(../images/bg/category-01.png) center center cover
    no-repeat;
  background-size: cover;
  border-radius: 8px;
  text-align: center;
  height: 280px;
  width: 300px;
  position: relative;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

.categories .category-item .category-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.categories .category-item h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 20px;
  margin: 0;
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.categories .swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: none;
}

/*--------------------------------------------------------------
# CTA
--------------------------------------------------------------*/
.cta {
  background-color: var(--background-light);
}

.cta h2 {
  font-weight: 800;
  font-size: 60px;
  text-transform: uppercase;
  color: var(--title-dark);
  margin-bottom: 10px;
}

.cta p {
  font-size: 18px;
  line-height: 28px;
  color: var(--text-gray);
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

#cta .client-item {
  width: 280px;
  height: 100px;
  padding: 20px 40px;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #ffffff;
}
#cta .client-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 991px) {
  #cta .client-item {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  background-image: url(../images/bg/contact.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}
.contact .container {
  position: relative;
  z-index: 2;
}
.contact .section-title h2 {
  color: #fff;
}
.contact .section-title p {
  color: var(--light-color);
  letter-spacing: 1.2px;
}

.contact:before {
  content: "";
  background: rgba(48, 157, 224, 0.9);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.contact .php-email-form {
  width: 100%;
  padding: 60px;
  background: #fff;
  border-radius: 10px;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  box-shadow: none;
  font-size: 18px;
  padding: 10px 22px;
  border: none;
  background: var(--background-light);
}

.contact .php-email-form input {
  height: 58px;
}

.contact .php-email-form textarea {
  padding: 10px 22px;
}

.contact .php-email-form input::placeholder,
.contact .php-email-form textarea::placeholder {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  font-family: var(--primary-font);
}

.contact .php-email-form select {
  width: 100%;
  padding: 10px 22px;
  height: 58px;
  background: var(--background-light);
  border: none;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  font-family: var(--primary-font);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../images/icons/chevron-down.png");
  background-repeat: no-repeat;
  background-position: right 15px center;
}

.contact .php-email-form select option {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--primary-font);
}

.contact .php-email-form select option:first-child {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  font-family: var(--primary-font);
}

.contact .php-email-form select option[selected] {
  background-color: #f2f2f2;
}

.contact .php-email-form button[type="submit"] {
  background: var(--secondary);
  font-family: var(--primary-font);
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  border: 0;
  padding: 8px 90px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #5faee3;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 40px 0;
  margin-top: 70px;
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #4f5a62;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  color: #fff;
  background: url("../img/footer-bg.jpg") top center no-repeat;
  background-size: cover;
  font-size: 14px;
  padding: 80px 0 60px 0;
  position: relative;
}

.footer:before {
  content: "";
  background: var(--dark);
  position: absolute;
  inset: 0;
}

.footer .footer-content .footer-info {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .footer-content .footer-info .footer-logo {
  height: 120px;
  width: 200px;
  margin-bottom: 20px;
  padding: 20px;
  background: var(--light-color);
}

.footer .footer-content .footer-info .footer-logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.footer .footer-content .social-links {
  display: flex;
  align-items: center;
}
.footer .footer-content .social-links a {
  font-size: 35px;
  display: inline-block;
  color: #fff;
  margin-right: 8px;
  transition: 0.3s;
}

.footer .footer-content .social-links .youtube {
  font-size: 40px;
}

.footer .footer-content .social-links a:hover {
  color: var(--primary);
  text-decoration: none;
}

.footer .footer-content h4 {
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
  letter-spacing: 1px;
}

.footer .footer-content h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 32%;
  height: 3px;
  background: var(--primary);
}

.footer .footer-content .footer-links {
  margin-bottom: 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  padding-left: 50px;
}

.footer .footer-content .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 30px 0 0 0;
}

.footer .footer-content .footer-links ul li {
  padding: 4px 0;
  color: var(--light-color);
}

.footer .footer-content .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-content .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-transform: uppercase;
  font-size: 15px;
}

.footer .footer-content .footer-links ul a:hover {
  color: #fff;
}

.footer .footer-content .footer-links h3 a {
  font-size: 32px;
  font-weight: 700;
  color: var(--secondary);
  position: relative;
  text-transform: uppercase;
  padding-bottom: 12px;
  letter-spacing: 1px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.footer .footer-content .footer-links p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.footer .footer-content .footer-links a {
  font-size: 18px;
  color: var(--secondary);
}

.footer .footer-legal .copyright {
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer .footer-legal .copyright span {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.footer .footer-legal .credits {
  padding-top: 4px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.footer .footer-legal .credits a {
  font-weight: 600;
  color: var(--primary);
}
